<<<<<<< Updated upstream
<%- include('includes/header', { title: 'Página Inicial' }) %>
<<<<<<< Updated upstream
=======
<!-- <%- include('includes/head') %>
>>>>>>> Stashed changes

<body>
    <%- include('includes/nav') %>
    <h1>Tela Inicial</h1>
    
</body>
<<<<<<< Updated upstream

<%- include('includes/footer') %>
=======
</html> -->
>>>>>>> Stashed changes
=======
<%- include('includes/nav') %>

<div class="container mx-auto mt-8">
  <h1 class="text-2xl font-bold mb-4">Bem-vindo à Página Inicial</h1>
  <p>Esta é a página inicial do sistema de gerenciamento de usuários.</p>
</div>

<%- include('includes/footer') %>

>>>>>>> Stashed changes
